:root{

}

* {
	margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "cabin-boldi";
  src: url("./fonts/Cabin/Cabin-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cabin-medium";
  src: url("./fonts/Cabin/Cabin-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cabin-medium-italic";
  src: url("./fonts/Cabin/Cabin-MediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cabin-regular";
  src: url("./fonts/Cabin/Cabin-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cabinsemi-regular";
  src: url("./fonts/Cabin_SemiCondensed/Cabin_SemiCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "calibri-bold";
  src: url("./fonts/calibri/Calibri\ Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "calibri-light";
  src: url("./fonts/calibri/Calibri\ Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "calibri-italic";
  src: url("./fonts/calibri/Calibri\ Italic.ttf ") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header{
  z-index: 100;
}

.mainTitleBox{
  position: absolute;
  transform:translate(-50%);
  left:50%;
  display: flex;
  justify-content: center;
  top:3%;
  height:5vh;
  width:15vh;
  z-index: inherit;
  margin:auto;
  border: none;
  border-radius: .5vh;
  background-color: rgb(0,0,0,.3);
}

.mainTitleBoxLight{
  position: absolute;
  transform:translate(-50%);
  left:50%;
  display: flex;
  justify-content: center;
  top:3%;
  height:5vh;
  width:15vh;
  z-index: inherit;
  margin:auto;
}

.mainTitleLight{
  text-align: center;
  font-family: 'cabinsemi-regular';
  text-decoration: underline;
  font-size: 1.7vh;
  color: #333333;
  align-self: center;
}

.mainTitle{
  text-align: center;
  font-family: 'cabinsemi-regular';
  text-decoration: underline;
  font-size: 1.7vh;
  color: white;
  align-self: center;
}

.navBar{
  position: absolute;
  gap: 4.5vh;
  right: 6%;
  top:7%;
  z-index: inherit;
  width: 18%;
  height:2%;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: rgb(0,0,0,.5);
  padding:2vh;
  border: none;
  border-radius: .5vh;
}

.navBarLight{
  position: absolute;
  gap: 4.5vh;
  right: 6%;
  top:7%;
  z-index: inherit;
  width: 18%;
  height:2%;
  padding:2vh;
  display: flex;
  align-items: center;
  justify-items: center;
}

.navItem{
  margin:auto;
}

.activeNavButton{
  text-align: center;
  font-family: 'calibri-bold';
  font-size: 2.2vh;
  color: white;
}

.activeNavButtonLight{
  text-align: center;
  font-family: 'calibri-bold';
  font-size: 2.2vh;
  color: #1E1E1E;
}

.inactiveNavButton{
  text-align: center;
  font-family: 'calibri-light';
  font-size: 2.2vh;
  color: #1E1E1E;
}

.inactiveNavButtonLight{
  text-align: center;
  font-family: 'calibri-light';
  font-size: 2.2vh;
  color: #1E1E1E;
}

.globePage{
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 14fr 1fr;
  grid-template-rows: 3.5fr 1fr 19fr 2.5fr 1fr;
  row-gap: 1vh;
}

.globeContainer{
  grid-column: 1/-1;
  grid-row: 1/ span 5;
}

.globeViz{
  position: relative;
}

.globeTitle{
  z-index: 2;
  grid-row: 2;
  grid-column: 2;
  text-align: center;
  font-family: 'cabin-boldi';
  font-size: 3vh;
  color: white;
  align-self: center;
  margin:auto;
  padding: .5%;
  border: none;
  border-radius: 5%;
  background-color: rgb(0,0,0,.5);
}

.defaultButton{
  border: none;
  z-index: 1;
  outline: none;
  background-color: #777AD3;
  color: white;
  font-family: 'cabin-regular';
  font-size: 1.5vh;
  justify-self: center;
  height: 13.5vh;
  width:13.5vh;
  border-style: none;
  border-radius: 50%;
}

#globeButton{
  pointer-events: all;
  grid-row: 4;
  grid-column: 2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 250px 19px rgba(210, 210, 210, 0.66);
}

.homePage{
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 30;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 3fr 1fr 2.5fr 4fr;
  row-gap: 8vh;
  background:#FFF7EC;
}

.title{
  color:#1E1E1E;
  font-family: 'cabin-medium-italic';
  font-size: 7vh;
  text-align: center;
  align-self: center;
}

#homeTitle{
  grid-row: 2;
  grid-column: 2;
}

.emotionsFlex{
  grid-row: 3;
  grid-column: 2;
  width:100%;
  height:100%;
  display: flex;
  gap: 7vh;
}

.emotionsButton{
  position: relative;
  margin:auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 1.7vh;
}

.emotionsDot{
  width:15vh;
  height: 15vh;
  border-radius: 50%;
  background: black;
  margin-top:0;
  transition: all .2s ease;
}

.emotionsText{
  color:#333333;
  font-family: 'calibri-italic';
  font-size: 2.4vh;
  text-align: center;
  align-self: center;
  transition:  all .2s ease;
}

.dotClicked{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#happyDot{
  background: #F5DA6C;
}

#sadDot{
  background: #9395D4;
}

#angryDot{
  background: #A85252;
}

#grossDot{
  background: #80AA7E;
}

#scaredDot{
  background: #6C6C6C;
}

.downPrompt{
  position: absolute;
  opacity: 0;
  z-index: 60;
  pointer-events: none;
  display: flex;
  gap:1.3vh;
  bottom:4vh;
  justify-content: center;
  align-content: center;
  transition:  all 1s ease;
  flex-direction: column;
  transform:translate(-50%);
  left:50%;
}

.downArrow{
  height:5vh;
  background-image: url("./textures/downArrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.downText{
  color:#333333;
  font-family: 'cabin-medium';
  font-size: 2vh;
  text-align: center;
}